{% extends 'homebase.html' %}
{% load static %}

{% block content %}
<div class="container">
    
        <h4>{{ request.user }}</h4>
        <!-- <h4>{{ d.gender }}</h4> -->
    
    <form method="POST" action="{% url 'drLoginPage' %}" id="signup-form" class="signup-form">
        {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-input" name="name" id="name" placeholder="Patient Adhar Number"/>
            </div>
            <div class="form-group"><a href="{% url 'drDashboard' %}">
                <input type="button" name="submit" id="submit" class="form-submit" value="Login"/></a>
            </div>
    </form>
</div>
<!-- JS -->
<script src="{% static 'register/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'register/js/main.js' %}"></script>

{% endblock %}




